Source: sup3rS3cretMes5age
Section: net
Priority: optional
Maintainer: Jeremy Jacque <jeremy.jacque@algolia.com>
Build-Depends: debhelper (>=10), make, golang-1.22
Standards-Version: 0.1
Homepage: https://github.com/algolia/sup3rS3cretMes5age

Package: sup3rS3cretMes5age
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple, secure self-destructing message service, using HashiCorp Vault product as a backend.
